<h2 class="title is-4">Edit Profile</h2>

<div style="width: 50%">
    <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
            <%= f.label :username, class: "label" %>
            <%= f.text_field :username, class: "input" %>
        </div>

        <div class="field">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
            <%= f.label :password, class: "label" %> <i>(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
            <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
        </div>

        <fieldset disabled>
            <div class="field">
                <label class="label">API Token</label>
                <input value="<%= current_user.authentication_token %>" class="input" />
            </div>
        </fieldset>

        <br>

        <div class="field">
            <%= f.label :password_confirmation, class: "label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
        </div>

        <div class="field">
            <%= f.label :current_password, class: "label" %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
        </div>

        <br>

        <div class="actions">
            <%= f.button "Update", class: "button is-link", type: :submit %>
        </div>
    <% end %>
</div>