<div style="width: 50%">
  <%= form_with(model: @comment, url: [@ticket, @comment], local: true) do |form| %>
    <% if comment.errors.any? %>
      <div class="message is-danger">
         <div class="message-header">
            <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
         </div>
         <div class="message-body">
            <ul>
            <% comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :user_id, "User (Required)", class: "label" %>
      <div class="select">
          <%= collection_select :comment, :user_id, User.where(id: @current_user.id), :id, :username %>
      </div>
    </div>

    <div class="field">
      <%= form.label :ticket_id, "Ticket (Required)", class: "label" %>
      <div class="select">
          <%= collection_select :comment, :ticket_id, Ticket.where(id: @ticket.id), :id, :name %>
      </div>
    </div>

    <div class="field">
      <%= form.label :comment, "Comment (Required)", class: "label" %>
      <%= form.text_area :comment, placeholder: "Enter comment here", class: "textarea" %>
    </div>

    <div class="actions">
      <%= form.button "Submit", type: :submit, class: "button is-link" %>
    </div>
  <% end %>
</div>
