<div style="display: grid; grid-template-columns: 13% 87%; grid-column-gap: 2%;">
  <div>
    <%= render 'shared/menu' %>
  </div>
  <div>
    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= incidents_path %>"> All Incidents </a></li>
        <li>
          <a href="<%= incident_path(@ticket.incident) %>"
            ><%= @ticket.incident %></a
          >
        </li>
        <li><a href="<%= tickets_incident_path(@incident) %>"> Tickets </a></li>
        <li><a href="<%= ticket_path(@ticket) %>"><%= @ticket.name %></a></li>
        <li class="is-active"><a>Comments</a></li>
      </ul>
    </nav>

    <div>
        <span style="display: inline-block">
            <h2 class="title is-4">Comments</h2>
        </span>
        <span style="float: right">
            <%= render 'tickets/actions_dropdown', ticket: @ticket %>&nbsp;&nbsp;
            <a class="button is-link" href="<%= new_ticket_comment_path %>">New Comment</a>
        </span>
    </div>

    <br>

    <%= render 'tickets/nav' %>

    <% if @ticket.comments.empty? %>
      No comments
      <br>
    <% else %>
    <table
      class="table is-narrow is-striped is-hoverable is-fullwidth is-bordered"
    >
      <thead>
        <tr>
          <th>User</th>
          <th>Comment</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @ticket.comments.each do |comment| %>
        <tr>
          <td><%= comment.user %></td>
          <td><%= comment.comment %></td>
          <% if current_user == comment.user %>
            <td><%= link_to 'Edit', ticket_comment_path(@ticket, comment) %></td>
            <td>
              <%= link_to 'Destroy', ticket_comment_path(@ticket, comment),
              method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
