<nav class="breadcrumb">
  <ul>
    <li><a href="<%= incidents_path %>"> All Incidents </a></li>
    <li><a href="<%= incident_path(@ticket.incident) %>"><%= @ticket.incident %></a></li>
    <li><a href="<%= ticket_path(@ticket) %>"><%= @ticket.name %></a></li>
    <li class="is-active"><a>Observables</a></li>
  </ul>
</nav>

<h2 class="title is-4">Comments</h2>

<%= render 'tickets/nav' %>

<% if @ticket.comments.empty? %>
  No comments
  <br />
<% else %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket.comments.each do |comment| %>
      <tr>
        <td><%= comment.user %></td>
        <td><%= comment.comment %></td>
        <td><%= link_to 'Show', ticket_comment_path(@ticket, comment) %></td>
        <% if current_user == comment.user %>
            <td><%= link_to 'Edit', edit_ticket_comment_path(@ticket, comment) %></td>
            <td><%= link_to 'Destroy', ticket_comment_path(@ticket, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Comment', new_ticket_comment_path %>
