<div style="display: grid; grid-template-columns: 13% 87%; grid-column-gap: 2%;">
  <div>
    <%= render 'shared/menu' %>
  </div>
  <div>
    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= incidents_path %>"> All Incidents </a></li>
        <li>
          <a href="<%= incident_path(@ticket.incident) %>"
            ><%= @ticket.incident %></a
          >
        </li>
        <li><a href="<%= tickets_incident_path(@incident) %>"> Tickets </a></li>
        <li><a href="<%= ticket_path(@ticket) %>"><%= @ticket.name %></a></li>
        <li class="is-active"><a>Comments</a></li>
      </ul>
    </nav>

    <div>
        <span style="display: inline-block">
            <h2 class="title is-4">Comments</h2>
        </span>
        <span style="float: right">
            <%= render 'tickets/actions_dropdown', ticket: @ticket %>&nbsp;&nbsp;
            <a class="button is-link" href="<%= new_ticket_comment_path %>">New Comment</a>
        </span>
    </div>

    <br>

    <%= render 'tickets/nav' %>

    <% if @ticket.comments.empty? %>
      No comments
    <% else %>
      <% @ticket.comments.each do |comment|%>
        <div class="comment-box">
          <div class="comment-header">
            <strong><%= comment.user %></strong> commented at <%= comment.created_at %>
          </div>
          <div class="comment-content">
            <%= comment.comment %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  .comment-box {
    border: 1px solid lightgray;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }

  .comment-header {
    background-color: rgba(230, 231, 233, 0.5);
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .comment-content {
    padding: 2%;
  }
</style>