<nav class="breadcrumb">
      <ul>
          <li><a href="<%= statuses_path %>"> Statuses </a></li>
          <li class="is-active"><a>Rename Status</a></li>
      </ul>
</nav>

<h2 class="title is-4">Rename Status</h2>

<%= form_with(model: @status, local: true) do |form| %>
  <% if @status.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</p>
      </div>
      <div class="message-body">
        <ul>
        <% @status.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field" style="width: 40%">
    <%= form.text_field :name, class: "input", placeholder: "In Progress" %>
  </div>
  <div class="actions">
    <%= form.button "Rename Status", type: :submit, class: "button is-link" %>
  </div>
<% end %>