<div class="incident_result">
    <div>
        <a href="<%= incident_path(incident) %>" class="title is-5 incident_result_title">
            <%= incident.name %>
        </a>
        <span class="tag is-info">Incident</span>
    </div>
    <div>
        <% if result.respond_to?(:pg_search_highlight) %>
            <%= result.pg_search_highlight.html_safe %>
        <% else %>
            <%= result.content %>
        <% end %>
    </div>

    <% if incident.description %>
        <div class="incident_result_description"> 
            <strong>Description</strong>
            <%= incident.description.truncate_words(35) %>
        </div>
    <% end %>

    <% if incident.tag_list %>
        <br>
        <div class="tags">
            <% incident.tag_list.each do |tag| %>
                <span class="tag"><%= tag %></span>
            <% end %>
        </div>
    <% end %>
</div>

<style>
    .incident_result {
        margin-bottom: 30px;
        width: 60%;
    }

    .incident_result_title {
        display: inline-block;
        color: rgb(53, 118, 217);
    }

    .incident_result_description {
        white-space: pre-line;
    }
</style>