<div class="ticket_result">
    <div>
        <a href="<%= ticket_path(ticket) %>" class="title is-5 ticket_result_title">
            <%= ticket.name %>
        </a>
        <span class="tag is-primary">Ticket</span>
    </div>
    <div>
        <% if result.respond_to?(:pg_search_highlight) %>
            <%= result.pg_search_highlight.html_safe %>
        <% else %>
            <%= result.content %>
        <% end %>
    </div>

    <% if ticket.description %>
        <div class="ticket_result_description"> 
            <strong>Description</strong>
            <%= ticket.description.truncate_words(35) %>
        </div>
    <% end %>

    <div>
        <br>
        <b>About</b>
        <p>
            Incident: <a href="<%= incident_path(ticket.incident) %>"><%= ticket.incident %></a>
        </p>
    </div>

    <% if ticket.tag_list %>
        <br>
        <div class="tags">
            <% ticket.tag_list.each do |tag| %>
                <span class="tag"><%= tag %></span>
            <% end %>
        </div>
    <% end %>
</div>

<style>
    .ticket_result {
        margin-bottom: 30px;
        width: 60%;
        padding-bottom: 10px;
        border-bottom: 1px dotted lightgray;
    }

    .ticket_result_title {
        display: inline-block;
        color: rgb(53, 118, 217);
    }

     .ticket_result_description {
        white-space: pre-line;
    }
</style>