<div class="ticket_result">
    <div>
        <a href="<%= ticket_path(ticket) %>" class="title is-5 ticket_result_title">
            <%= ticket.name %>
        </a>
        <span class="tag is-primary">Ticket</span>
    </div>
    <div>
        <% if result.respond_to?(:pg_search_highlight) %>
            <%= result.pg_search_highlight.html_safe %>
        <% else %>
            <%= result.content %>
        <% end %>
    </div>
    <% if ticket.tag_list %>
        <br>
        <div class="tags">
            <% ticket.tag_list.each do |tag| %>
                <span class="tag"><%= tag %></span>
            <% end %>
        </div>
    <% end %>
</div>

<style>
    .ticket_result_title {
        display: inline-block;
        color: rgb(53, 118, 217);
    }

    .ticket_result {
        margin-bottom: 30px;
    }
</style>