<%# page title %>
<div class="content">
    <h2 class="title is-4">Search</h2>
</div>

<%# render search input %>
<div>
    <%= form_tag(search_index_path, method: :get) do %>
        <%= text_field_tag :q, params[:q], class: 'input', placeholder: 'Found Ryuk', style: 'width: 50%' %>
        <%= submit_tag 'Search', class: 'button is-link' %>
    <% end %>
</div>
<br>


<%= will_paginate @results, class: "digg_pagination" %>

<%# render search results %>
<div>
    <% if @results.empty? %>
        <p>No results.</p>
    <% else %>
        <br>
        <% @results.each do |result| %>
            <% if result.searchable_type == 'Incident'%>
                <%= render 'search/incident_result', result: result %>
            <% elsif result.searchable_type == 'Ticket' %>
                <%= render 'search/ticket_result', result: result %>
            <% end %>
        <% end %>
    <% end %>
</div>
