<%# page title %>
<div class="content">
    <h2 class="title is-4">Search</h2>
</div>

<%# render search input %>
<div>
    <%= form_tag(search_index_path, method: :get) do %>
        <%= text_field_tag :q, params[:q], class: 'input', placeholder: 'Found Ryuk', style: 'width: 50%' %>
        <%= submit_tag 'Search', class: 'button is-link' %>
    <% end %>
</div>
<br>


<% if @results.total_pages >= 2 %>
    <%= will_paginate @results, class: "digg_pagination" %>
    <br>
<% end %>

<%# render search results %>
<div>
    <% if @results.empty? %>
        <% if @query and not @query.eql? "" %>
            <p>No results for "<%= @query %>".</p>
        <% else %>
            <p>No results. You must specify a search query!
       <% end %>
    <% else %>
        <p><%= @results.count %> result(s) for "<%= @query %>"</p>
        <br>
        <% @results.each do |result| %>
            <% if result.searchable_type == 'Incident'%>
                <%= render 'search/incident_result', result: result, incident: result.searchable %>
            <% elsif result.searchable_type == 'Ticket' %>
                <%= render 'search/ticket_result', result: result, ticket: result.searchable %>
            <% elsif result.searchable_type == 'Comment' %>
                <%= render 'search/comment_result', result: result, comment: result.searchable %>
            <% elsif result.searchable_type == 'Observable' %>
                <%= render 'search/observable_result', result: result, observable: result.searchable %>
            <% elsif result.searchable_type == 'Attachment' %>
                <%= render 'search/attachment_result', result: result, attachment: result.searchable %>
            <% end %>
        <% end %>
    <% end %>
</div>
