<aside class="menu">
  <p class="menu-label">
    <%= @ticket.incident.name %>
  </p>
  <ul class="menu-list">
    <li><a href="<%= incident_path(@ticket.incident) %>">Details</a></li>
    <li>
      <a href="<%= tickets_incident_path(@ticket.incident) %>">Tickets</a>
    </li>
    <li>
      <a href="<%= leads_incident_path(@ticket.incident) %>">Leads</a>
    </li>
    <li>
      <a href="<%= observables_incident_path(@ticket.incident) %>"
        >Observables</a
      >
    </li>
    <li>
      <a href="<%= attachments_incident_path(@ticket.incident) %>"
        >Attachments</a
      >
    </li>
    <li>
      <a href="<%= tree_incident_path(@ticket.incident) %>">Tree</a>
    </li>
  </ul>
</aside>
