<a href="/incidents/<%= @incident.id =%>/" style="margin-right: 10px">Details</a>
<a href="/incidents/<%= @incident.id =%>/tickets" style="margin-right: 10px">Tickets (<%= @incident.tickets.count =%>) </a>
<a href="/incidents/<%= @incident.id =%>/leads" style="margin-right: 10px">Leads (<%= @incident.leads.count =%>)</a>
<a href="/incidents/<%= @incident.id =%>/observables" style="margin-right: 10px">Observables (<%= @incident.observables.count =%>)</a>
<a href="/incidents/<%= @incident.id =%>/attachments" style="margin-right: 10px">Attachments (<%= @incident.attachments.count =%>)</a>
<a href="/incidents/<%= @incident.id =%>/tree" style="margin-right: 10px">Tree</a>

<br><br>