<h1><%= @incident.name %> > Attachments</h1>

<%= render 'nav' %>

This page lists every observable added to a ticket in this incident.

<br /><br />

<% if @incident.attachments.empty? %>
  No attachments
  <br />
<% else %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Created At</th>
      <th>Ticket</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <td>
    <% @incident.attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.id %></td>
        <td><%= attachment.created_at %></td>
        <td><%= attachment.ticket %></td>
        <td><%= truncate(attachment.description, :length => 60) %></td>
        <td><%= link_to 'Show', ticket_attachment_path(attachment.ticket, attachment) %></td>
        <td><%= link_to 'Edit', edit_ticket_attachment_path(attachment.ticket, attachment) %></td>
        <td><%= link_to 'Destroy', ticket_attachment_path(attachment.ticket, attachment), method: :delete, data: { confirm: 'Are you sure?' } =%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>