<div>
  <span style="display: inline-block">
    <h2 class="title is-4">All Incidents</h2>
  </span>
  <span>
    <a href="<%= new_incident_path %>" class="button is-link" style="float: right">New Incident</a>
  </span>
</div>

<br>

<% if @incidents.empty? %>
  No incidents
  <br />
<% else %>
  <table class="incidents-table hover stripe">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created At</th>
        <th>Created By</th>
        <th>Tags</th>
        <th>Total Tickets</th>
        <th>Open Tickets</th>
        <th>In Progress Tickets</th>
        <th>Closed Tickets</th>
        <th>Leads</th>
        <th>Show</th>
        <th>Tree</th>
      </tr>
    </thead>

    <tbody>
      <% @incidents.each do |incident| %>
        <tr>
          <td><%= incident.name %></td>
          <td><%= incident.created_at %></td>
          <td><%= incident.user %></td>
          <td><%= incident.tag_list %></td>
          <td><%= incident.tickets.count %></td>
          <td><%= incident.open_tickets.count %></td>
          <td><%= incident.in_progress_tickets.count %></td>
          <td><%= incident.closed_tickets.count %></td>
          <td><%= incident.leads.count %></td>
          <td><%= link_to 'Show', incident %></td>
          <td><%= link_to 'Tree', tree_incident_path(incident) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<script>
  $(document).ready(function() {
    $(".incidents-table").DataTable({
      "pagingType": "simple_numbers",
    });
  });
</script>
