<h2 class="title is-4">All Incidents</h2>

<% if @incidents.empty? %>
  No incidents
  <br />
<% else %>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
      <th>Created By</th>
      <th>Total Tickets</th>
      <th>Open Tickets</th>
      <th>In Progress Tickets</th>
      <th>Closed Tickets</th>
      <th>Leads</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.name %></td>
        <td><%= incident.created_at %></td>
        <td><%= incident.user %></td>
        <td><%= incident.tickets.count %></td>
        <td><%= incident.open_tickets.count %></td>
        <td><%= incident.in_progress_tickets.count %></td>
        <td><%= incident.closed_tickets.count %></td>
        <td><%= incident.leads.count %></td>
        <td><%= link_to 'Show', incident %></td>
        <td><%= link_to 'Tree', tree_incident_path(incident) %></td>
        <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
        <td><%= link_to 'Destroy', incident, method: :delete,
          data: { confirm: 'Are you sure? This will delete all tickets in this incident.' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br />

<%= link_to 'New Incident', new_incident_path %>
