<p id="notice"><%= notice %></p>

<h1>All Incidents</h1>

<table style="border-collapse: separate; border-spacing: 25px 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
      <th>Total Tickets</th>
      <th>Open Tickets</th>
      <th>In Progress Tickets</th>
      <th>Closed Tickets</th>
      <th>Leads</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.name %></td>
        <td><%= incident.created_at %></td>
        <td><%= incident.tickets.count %></td>
        <td><%= incident.open_tickets.count %></td>
        <td><%= incident.in_progress_tickets.count %></td>
        <td><%= incident.closed_tickets.count %></td>
        <td><%= incident.leads.count %></td>
        <td><%= link_to 'Show', incident %></td>
        <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
        <td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident', new_incident_path %>
