<div>
  <span style="display: inline-block">
    <h2 class="title is-4"><%= @title %></h2>
  </span>
  <span>
    <a href="<%= new_incident_path %>" class="button is-link" style="float: right">New Incident</a>
  </span>
</div>

<br>

<% if @incidents.empty? %>
  <%= @empty_message %>
  <br />
<% else %>
  <table class="incidents-table hover stripe">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Description</th>
        <th>Created</th>
        <th>Created By</th>
        <th>Assigned To</th>
        <th>Tags</th>
        <th>Show</th>
        <th>Tree</th>
      </tr>
    </thead>

    <tbody>
      <% @incidents.each do |incident| %>
        <tr>
          <td><%= incident.name %></td>
          <td>
            <% if incident.status == "Closed"%>
                <span class="tag is-success">Closed</span>
            <% elsif incident.status == "In Progress" %>
                <span class="tag is-warning">In Progress</span>
            <% elsif incident.status == "Open" %>
                <span class="tag is-danger">Open</span>
            <% else %>
                <span class="tag"><%= incident.status %></span>
            <% end %>
          </td>
          <td><%= incident.description.truncate_words(20) %></td>
          <td><%= incident.created_at %></td>
          <td><%= incident.user %></td>
          <td><%= incident.assigned_to %></td>
          <td>
            <% incident.tag_list.each do |tag| %>
              <span class="tag"><%= tag %></span>
            <% end %>
          </td>
          <td><%= link_to 'Show', incident %></td>
          <td><%= link_to 'Tree', tree_incident_path(incident) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<script>
  $(document).ready(function() {
    $(".incidents-table").DataTable({
      "pagingType": "simple_numbers",
      "language": { search: "" }
    });

    // style datatable search inputs
    $(".dataTables_filter input").addClass("input");
    $(".dataTables_filter input").focus();
    $(".dataTables_filter input").attr("placeholder", "Search");
  });
</script>
