<p id="notice"><%= notice %></p>

<h1><%= @incident.name %> > Leads</h1>

<%= render 'nav' %>

<% if @incident.leads.empty? %>
  No leads.
  <br /> <br />
   Mark a ticket as a lead for it to appear here.
  <br /> <br />
<% else %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Incident</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Is Lead?</th>
      <th>Created At</th>
      <th>Parent Ticket</th>
      <th># Child Tickets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incident.leads.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= ticket.incident %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.is_lead %></td>
        <td><%= ticket.created_at %></td>
        <td>
        <% if ticket.parent == nil %>
            N/A
        <% else %>
            <%= link_to ticket.parent.name, ticket.parent =%>
        <% end %>
        </td>
        <td><%= ticket.children.count %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Back', incidents_path %>
