<div
  style="display: grid; grid-template-columns: 13% 87%; grid-column-gap: 2%;"
>
  <div>
    <%= render 'shared/menu' %>
  </div>

  <div>
    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= incidents_path %>"> All Incidents </a></li>
        <li><a href="<%= incident_path(@incident) %>"><%= @incident.name %></a></li>
        <li class="is-active"><a>Leads</a></li>
      </ul>
    </nav>

    <h2 class="title is-4">Leads</h2>

    <div class="content">
        <p>Mark tickets as leads for them to appear here.  This way, you can view all the areas of an incident that require further investigation
        in one place.</p>
    </div>

    <% if @incident.leads.empty? %>
        <p>No leads.</p>
    <% else %>
    <table class="incident-leads-table stripe hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Incident</th>
          <th>Status</th>
          <th>Priority</th>
          <th>Is Lead?</th>
          <th>Created At</th>
          <th>Parent Ticket</th>
          <th># Child Tickets</th>
          <th>Show</th>
          <th>Destroy</th>
        </tr>
      </thead>

      <tbody>
        <% @incident.leads.each do |ticket| %>
          <tr>
            <td><%= ticket.name %></td>
            <td><%= ticket.incident %></td>
            <td>
                <%= render 'tickets/status_tag', ticket: ticket %>
            </td>
            <td>
                <%= render 'tickets/priority_tag', ticket: ticket %>
            </td>
            <td><%= ticket.is_lead %></td>
            <td><%= ticket.created_at %></td>
            <td>
            <% if ticket.parent == nil %>
                N/A
            <% else %>
                <%= link_to ticket.parent.name, ticket.parent =%>
            <% end %>
            </td>
            <td><%= ticket.children.count %></td>
            <td><%= link_to 'Show', ticket %></td>
            <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>


<script>
  $(document).ready(function() {
    $(".incident-leads-table").DataTable({
      "pagingType": "simple_numbers",
      "language": { search: "" },
    });

    // style datatable search inputs
    $(".dataTables_filter input").addClass("input");
    $(".dataTables_filter input").attr("placeholder", "Search");
  })
</script>
