<%# breadcrumb %>
<nav class="breadcrumb">
    <ul>
        <li><a href="<%= incidents_path %>"> All Incidents </a></li>
        <li class="is-active"><a>New Incident</a></li>
    </ul>
</nav>

<%# title %>
<h2 class="title is-4">New Incident</h2>

<%# new incident form %>
<div style="width: 50%">
    <%= form_with(model: @incident, local: true) do |form| %>
        <% if @incident.errors.any? %>
            <div class="message is-danger">
                <div class="message-header">
                <p><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</p>
                </div>
                <div class="message-body">
                <ul>
                <% @incident.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
                </div>
            </div>
        <% end %>

        <div class="field">
            <%= form.label :name, "Name (Required)", class: "label" %>
            <%= form.text_field :name, placeholder: "Found Ryuk", autofocus: true, class: "input" %>
        </div>

        <div class="field">
            <%= form.label :status, "Status (Required)", class: "label" %>
            <div class="select">
                <%= collection_select :incident, :status_id, Status.all, :id, :name  %>
            </div>
        </div>

        <div class="field">
            <%= form.label :priority, "Priority (Required)", class: "label" %>
            <div class="select">
                <%= collection_select :incident, :priority_id, Priority.all, :id, :name  %>
            </div>
        </div>

        <div class="field">
            <%= form.label :assigned_to, "Assigned To ", class: "label" %>
            <div class="select">
                <%= collection_select :incident, :assigned_to_id, User.all, :id, :username, { include_blank: true } %>
            </div>
        </div>

        <div class="field">
            <%= form.label :tag_list, "Tags", class: "label" %>
            <%= form.text_field :tag_list, class: "tag_list", value: form.object.tag_list.to_s, placeholder: "apt1, ryuk" %>
        </div>

        <div class="field">
            <%= form.label :description, "Description", class: "label" %>
            <%= form.text_area :description, class: "textarea description", placeholder: "Type description here" %>
        </div>

        <div class="actions">
            <%= form.button "Create Incident", type: :submit, class: "button is-link" %>
        </div>
    <% end %>
</div>

<script>
$(document).ready(function() {
    // initialize tag inputs
    $(".tag_list").selectize({
        delimiter: ",",
        persist: false,
        create: true
    });

    users = <%= raw User.pluck(:username).compact.to_json %>;
    $('.description').atwho({at:"@", 'data': users});
})
</script>