<div
  style="display: grid; grid-template-columns: 13% 87%; grid-column-gap: 2%;"
>
  <div>
    <%= render 'shared/menu' %>
  </div>
  <div>
  <nav class="breadcrumb">
    <ul>
      <li><a href="<%= incidents_path %>"> All Incidents </a></li>
      <li><a href="<%= incident_path(@incident) %>"><%= @incident.name %></a></li>
      <li class="is-active"><a>Observables</a></li>
    </ul>
  </nav>

  <h2 class="title is-4">Observables</h2>

  This page lists every observable added to a ticket in this incident.

  <br /><br />

  <% if @incident.observables.empty? %>
      No observables
      <br />
  <% else %>
  <table class="incident-observables-table stripe hover">
    <thead>
      <tr>
        <th>Observable</th>
        <th>User</th>
        <th>Ticket</th>
        <th>Description</th>
        <th>Show</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <% @incident.observables.each do |observable| %>
        <tr>
          <td><%= observable.observable %></td>
          <td><%= observable.user %></td>
          <td><%= observable.ticket %></td>
          <td><%= truncate(observable.description, :length => 60) %></td>
          <td><%= link_to 'Show', ticket_observable_path(observable.ticket, observable) %></td>
          <td><%= link_to 'Destroy', ticket_observable_path(observable.ticket, observable), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".incident-observables-table").DataTable({
      "pagingType": "simple_numbers",
      "language": { search: "" },
    });

    // style datatable search inputs
    $(".dataTables_filter input").addClass("input");
    $(".dataTables_filter input").attr("placeholder", "Search");
  })
</script>