<div
  style="display: grid; grid-template-columns: 13% 87%; grid-column-gap: 2%;"
>
  <div>
    <%= render 'shared/menu' %>
  </div>
  <div>
    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= incidents_path %>"> All Incidents </a></li>
        <li>
          <a href="<%= incident_path(@incident) %>"><%= @incident.name %></a>
        </li>
        <li class="is-active"><a>Details</a></li>
      </ul>
    </nav>

    <h2 class="title is-4">Details</h2>

    <div class="content">
        <%= render 'form', incident: @incident %>
    </div>
  </div>
</div>
