<p id="notice"><%= notice %></p>

<h1><%= @incident.name %> > Details</h1>

<%= render 'nav' %>

<p>
  <strong>Created At:</strong>
  <%= @incident.created_at %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @incident.user %>
</p>

<p>
    <strong>Tags</strong>
    <% if @incident.tag_list.count == 0%>
      N/A
    <% else %>
      <%= @incident.tag_list %>
    <% end %>
</p>

<div>
    <strong>Description:</strong>
    <% if @incident.description.empty? %>
      N/A
      <br /><br />
    <% else %>
      <div style="white-space: pre-line;">
        <%= @incident.description %>
      </div>
    <% end %>
</div>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
