<p id="notice"><%= notice %></p>

<h1><%= @incident.name %> > Leads</h1>

<a href="/incidents/<%= @incident.id =%>/" style="margin-right: 10px">Details</a>
<a href="/incidents/<%= @incident.id =%>/tickets" style="margin-right: 10px">Tickets (<%= @incident.tickets.count =%>) </a>
<a href="/incidents/<%= @incident.id =%>/leads" style="margin-right: 10px">Leads (<%= @incident.leads.count =%>)</a>

<p>
  <strong>Created At:</strong>
  <%= @incident.created_at %>
</p>

<p>
    <strong>Tags</strong>
    <%= @incident.tag_list %>
</p>

<div>
    <strong>Description:</strong>
      <div style="white-space: pre-line;">
        <%= @incident.description %>
    </div>
</div>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>