<div
  style="display: grid; grid-template-columns: 13% 87%; grid-column-gap: 2%;"
>
  <div>
    <%= render 'shared/menu' %>
  </div>

  <div>
    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= incidents_path %>"> All Incidents </a></li>
        <li><a href="<%= incident_path(@incident) %>"><%= @incident.name %></a></li>
        <li class="is-active"><a>Tickets</a></li>
      </ul>
    </nav>

    <h2 class="title is-4">Tickets</h2>

    <% if @incident.tickets.empty? %>
      No tickets
      <br />
    <% else %>
    <table class="table is-striped is-hoverable is-fullwidth is-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Incident</th>
          <th>Status</th>
          <th>Priority</th>
          <th>Is Lead?</th>
          <th>Created At</th>
          <th>Parent Ticket</th>
          <th># Child Tickets</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @incident.tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.name %></td>
            <td><%= ticket.incident %></td>
            <td><%= ticket.status %></td>
            <td><%= ticket.priority %></td>
            <td><%= ticket.is_lead %></td>
            <td><%= ticket.created_at %></td>
            <td>
            <% if ticket.parent == nil %>
                N/A
            <% else %>
                <%= link_to ticket.parent.name, ticket.parent =%>
            <% end %>
            </td>
            <td><%= ticket.children.count %></td>
            <td><%= link_to 'Show', ticket %></td>
            <td><%= link_to 'Tree', tree_ticket_path(ticket) %></td>
            <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
            <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>