<html>
    <head>
        <%= include_gon(:init => true) %>
    </head>
    <body>
        <div style="display: grid; grid-template-columns: 13% 87%; grid-column-gap: 2%;">
        <div>
            <%= render 'shared/menu' %>
        </div>
        <div>
            <nav class="breadcrumb">
                <ul>
                    <li><a href="<%= incidents_path %>"> All Incidents </a></li>
                    <li><a href="<%= incident_path(@incident) %>"><%= @incident.name %></a></li>
                    <li class="is-active"><a>Tree</a></li>
                </ul>
            </nav>

            <h2 class="title is-4">Tree</h2>
            <p>Red nodes indicate open tickets, yellow nodes in progress tickets, and green nodes closed tickets.</p>

            <div id="tree"></div>
        </div>
    </body>

    <script>
        config = {
            chart: {
                container: "#tree",
            },
            nodeStructure: gon.incident_tree_as_json
        };

        var my_chart = new Treant(config);
    </script>

    <style>
        .node {
            padding: 8px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background-color: #ffffff;
            border: 1px solid #000;
            font-family: Tahoma;
            font-size: 15px;
            text-align: center;
        }

        .open {
            background-color: #FF5454;
            color: white;
        }
    
        .in_progress {
            background-color: khaki;
            color: black;
        }

        .closed {
            background-color: limegreen; 
            color: white;
        }
    </style>
</html>
