<div style="width: 50%">
  <%= form_with(model: @observable, url: [@ticket, @observable], local: true) do |form| %>
    <% if observable.errors.any? %>
      <div class="message is-danger">
        <div class="message-header">
          <h2><%= pluralize(observable.errors.count, "error") %> prohibited this observable from being saved:</h2>
        </div>
        <div class="message-body">
          <ul>
          <% observable.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :observable, "Observable (Required)", class: "label" %>
      <%= form.text_field :observable, placeholder: "168.23.35.25", class: "input", autofocus: true %>
    </div>

    <fieldset disabled>
      <div class="field">
        <%= form.label :created_at, "Created At", class: "label" %>
        <%= form.text_field :created_at, class: "input" %>
      </div>
    </fieldset>

    <br>

    <fieldset disabled>
      <div class="field">
        <%= form.label :user_id, "Created By", class: "label" %>
        <div class="select">
          <%= collection_select :comment, :user_id, User.where(id: @current_user.id), :id, :username %>
        </div>
      </div>
    </fieldset>

    <br>

    <fieldset disabled>
      <div class="field">
        <%= form.label :ticket_id, "Ticket", class: "label" %>
        <div class="select">
          <%= collection_select :observable, :ticket_id, Ticket.where(id: @ticket.id), :id, :name %>
        </div>
      </div>
    </fieldset>

    <br>

    <div class="field" style="width: 50%">
      <%= form.label :tag_list, "Tags", class: "label" %>
        <%= form.text_field :tag_list, value: form.object.tag_list.to_s, placeholder: "apt1, ryuk", class: "tag_list" %>
    </div>

    <div class="field">
      <%= form.label :description, class: "label" %>
      <%= form.text_area :description, placeholder: "Enter description here", class: "textarea" %>
    </div>

    <div class="actions">
      <%= form.button "Update", type: :submit, class: "button is-link" %>
    </div>
  <% end %>
</div>

<script>
// initialize tag inputs
$(".tag_list").selectize({
    delimiter: ",",
    persist: false,
    create: true
});
</script>