<nav class="breadcrumb">
  <ul>
    <li><a href="<%= incident_path(@ticket.incident) %>"><%= @ticket.incident %></a></li>
    <li><a href="<%= ticket_path(@ticket) %>"><%= @ticket.name %></a></li>
    <li class="is-active"><a>Observables</a></li>
  </ul>
</nav>

<h2 class="title is-4">Observables</h2>

<%= render 'tickets/nav' %>

<% if @ticket.observables.empty? %>
    No observables
    <br />
<% else %>
<table>
  <thead>
    <tr>
      <th>Observable</th>
      <th>User</th>
      <th>Ticket</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observables.each do |observable| %>
      <tr>
        <td><%= observable.observable %></td>
        <td><%= observable.user %></td>
        <td><%= observable.ticket %></td>
        <td><%= link_to 'Show', ticket_observable_path(@ticket, observable) %></td>
        <td><%= link_to 'Edit', edit_ticket_observable_path(@ticket, observable) %></td>
        <td><%= link_to 'Destroy', ticket_observable_path(@ticket, observable), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Observable', new_ticket_observable_path(@ticket, @observable) %>
