<div style="display: grid; grid-template-columns: 13% 87%; grid-column-gap: 2%;">
  <div>
    <%= render 'shared/menu' %>
  </div>
  <div>
    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= incidents_path %>"> All Incidents </a></li>
        <li>
          <a href="<%= incident_path(@ticket.incident) %>"
            ><%= @ticket.incident %></a
          >
        </li>
        <li><a href="<%= tickets_incident_path(@incident) %>"> Tickets </a></li>
        <li><a href="<%= ticket_path(@ticket) %>"><%= @ticket.name %></a></li>
        <li class="is-active"><a>Observables</a></li>
      </ul>
    </nav>

    <div>
        <span style="display: inline-block">
            <h2 class="title is-4">Observables</h2>
        </span>
        <span style="float: right">
            <%= render 'tickets/actions_dropdown', ticket: @ticket %>&nbsp;&nbsp;
            <a class="button is-link" href="<%= new_ticket_observable_path %>">New Observable</a>
        </span>
    </div>

    <br>

    <%= render 'tickets/nav' %> 

    <% if @ticket.observables.empty? %>
        No observables
        <br />
    <% else %>
        <table class="ticket-observables-table hover stripe">
          <thead>
            <tr>
              <th>Observable</th>
              <th>Created By</th>
              <th>Created At</th>
              <th>Description</th>
              <th>Show</th>
              <th>Destroy</th>
            </tr>
          </thead>

          <tbody>
            <% @ticket.observables.each do |observable| %>
            <tr>
              <td><%= observable.observable %></td>
              <td><%= observable.user %></td>
              <td><%= observable.created_at %></td>
              <td><%= truncate(observable.description, :length => 40) %></td>
              <td>
                <%= link_to 'Show', ticket_observable_path(@ticket, observable) %>
              </td>
              <td>
                <%= link_to 'Destroy', ticket_observable_path(@ticket, observable),
                method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".ticket-observables-table").DataTable({
      "pagingType": "simple_numbers",
    });
  });
</script>