<div>
  <span style="display: inline-block">
    <h2 class="title is-4">Users (<%= @users.count %>)</h2>
  </span>
  <span style="float: right">
    <a href="<%= new_user_invitation_path %>" class="button is-link">Invite User</a>
  </span>
</div>

<br>

<% if @users.empty? %>
  No users
  <br />
<% else %>
<table class="users-table hover stripe">
  <thead>
    <tr>
      <th>Created At</th>
      <th>Username</th>
      <th>Email</th>
      <th>Accepted Invitation?</th>
      <th>Is Admin?</th>
      <th>Enabled?</th>
      <th>Disable</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.created_at %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.invitation_accepted? %></td>
        <td><%= user.admin %></td>
        <td><%= user.active_for_authentication? %></td>
        <% if not user.active_for_authentication? %>
          <td></td>
        <% elsif user.admin && User.admins.count == 1%>
          <td>Can't disable last admin</td>
        <% elsif @users.count == 1 %>
          <td>Can't disable last user</td>
        <% else %>
          <td><%= link_to 'Disable', user, method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<script>
  $(document).ready(function() {
    $(".users-table").DataTable({
      "pagingType": "simple_numbers",
    });
  })
</script
