<aside class="menu">
  <p class="menu-label">
    <%= @incident.name %>
  </p>
  <ul class="menu-list">
    <li><a href="<%= incident_path(@incident) %>">Details</a></li>
    <li>
      <a href="<%= tickets_incident_path(@incident) %>">Tickets (<%= @incident.tickets.count %>)</a>
    </li>
    <li>
      <a href="<%= leads_incident_path(@incident) %>">Leads (<%= @incident.leads.count %>)</a>
    </li>
    <li>
      <a href="<%= observables_incident_path(@incident) %>">Observables (<%= @incident.observables.count %>)</a>
    </li>
    <li>
      <a href="<%= attachments_incident_path(@incident) %>">Attachments (<%= @incident.attachments.count %>)</a>
    </li>
    <li>
      <a href="<%= tree_incident_path(@incident) %>">Tree</a>
    </li>
    <li>
      <a href="<%= incident_members_path(@incident) %>">Members</a>
    </li>
    <%# <li>
      <br>
      <a style="color: #3676d9">New Ticket</a>
    </li> %>
  </ul>
</aside>
