 <% if user_signed_in? %>
    <nav class="navbar is-link">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <%= image_tag("logo.png", :alt => "logo") %>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="<%= incidents_path %>">
                    <% if current_user.admin %>
                        Incidents (<%= Incident.all.count %>)
                    <% else %>
                        Incidents (<%= current_user.joined_incidents.count =%>)
                    <% end %>
                </a>
                <a class="navbar-item" href="<%= tickets_path %>">
                    <% if current_user.admin %>
                        Tickets (<%= Ticket.all.count %>)
                    <% else %>
                        Tickets (<%= current_user.joined_tickets.count =%>)
                    <% end %>
                </a>
                <a class="navbar-item" href="<%= assigned_tickets_path %>">
                    Assigned Tickets (<%= current_user.assigned_tickets.count =%>)
                </a>
                <div class="navbar-item">
                    <i class="fas fa-search"></i>
                    <%= form_tag(search_index_path, method: :get) do %>
                        <%= text_field_tag :q, params[:q], placeholder: 'Search', class: 'search_input input' %>
                    <% end %>
                </div>
            </div>
            <div class="navbar-end">
                <% if current_user.admin %>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Admin</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="<%= users_path %>">Users</a>
                            <a class="navbar-item" href="<%= statuses_path %>">Statuses</a>
                            <a class="navbar-item" href="<%= priorities_path %>">Priorities</a>
                        </div>
                    </div>
                <% end %>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">New</a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="<%= new_incident_path %>">Incident (shift-i)</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <%= current_user.username %>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <%# <%= link_to '2FA', two_factor_index_path, :class => 'navbar-item' %> 
                        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %> 
                        <hr class="navbar-divider">
                        <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'navbar-item'  %>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<% end %>

<style>
.search_input {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    box-shadow: none;
    border-radius: 0px;
    width: 300px;
}
.fa-search {
    color: rgba(255, 255, 255, 0.6);
}
.search_input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.search_input:focus {
    border: none;
    border-color: none;
    box-shadow: none;
}
</style>
