<div style="width: 50%">
  <%= form_with(model: @attachment, url: [@ticket, @attachment], local: true) do |form| %>
    <% if attachment.errors.any? %>
      <div class="message is-danger">
        <div class="message-header">
          <h2><%= pluralize(attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>
        </div>

        <div class="message-body">
          <ul>
          <% attachment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="field">
        <%= form.label :file, class: "label" %>
        <%= form.file_field :file %>
    </div>

    <div class="field">
      <%= form.label :description, class: "label" %>
      <%= form.text_area :description, placeholder: "Enter description", class: "textarea" %>
    </div>

    <div class="field">
      <%= form.label :ticket_id, class: "label" %>
      <div class="select">
        <%= collection_select(:attachment, :ticket_id, Ticket.where(id: @ticket.id), :id, :name) %>
      </div>
    </div>

    <div class="actions">
      <%= form.button "Submit", type: :submit, class: "button is-link" %>
    </div>
  <% end %>
</div>
