<p id="notice"><%= notice %></p>

<h1><%= @ticket.name %> > Attachments</h1>

<%= render 'tickets/nav' %>

<% if @ticket.attachments.empty? %>
  No attachments
  <br />
<% else %>
<table style="border-collapse: separate; border-spacing: 10px 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Size</th>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <td>
    <% @ticket.attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.id %></td>
        <td>
            <% if attachment.file.attached? %>
                <a href="<%= url_for(attachment.file) %>"><%= attachment.file.blob.filename  %></a>
            <% else %>
                N/A
            <% end %>
        </td>
        <td>
            <% if attachment.file.attached? %>
              <%= number_to_human_size(attachment.file.blob.byte_size)  %>
            <% else %>
              N/A
            <% end %>
        </td>
        <td><%= attachment.created_at %></td>
        <td><%= link_to 'Show', ticket_attachment_path(@ticket, attachment) %></td>
        <td><%= link_to 'Edit', edit_ticket_attachment_path(@ticket, attachment) %></td>
        <td><%= link_to 'Destroy', ticket_attachment_path(@ticket, attachment), method: :delete, data: { confirm: 'Are you sure?' } =%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Attachment', new_ticket_attachment_path %>
