<p id="notice"><%= notice %></p>

<h1><%= @ticket.name %> > Attachments</h1>

<a href=".">Details</a>&nbsp;&nbsp;
<a href="/tickets/<%= @ticket.id =%>/attachments">Attachments (<%= @ticket.attachments.count =%>)</a>&nbsp;&nbsp;
<a href="/tickets/<%= @ticket.id =%>/children"> Child Tickets (<%= @ticket.children.count %>) </a>&nbsp;&nbsp;
<a href="/tickets/<%= @ticket.id =%>/comments"> Comments (<%= @ticket.comments.count %>) </a>&nbsp;&nbsp;

<br /> <br />

<% if @ticket.attachments.empty? %>
  No attachments
  <br />
<% else %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Created At</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <td>
    <% @ticket.attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.id %></td>
        <td><%= attachment.created_at %></td>
        <td><%= truncate(attachment.description, :length => 60) %></td>
        <td><%= link_to 'Show', ticket_attachment_path(@ticket, attachment) %></td>
        <td><%= link_to 'Edit', edit_ticket_attachment_path(@ticket, attachment) %></td>
        <td><%= link_to 'Destroy', ticket_attachment_path(@ticket, attachment), method: :delete, data: { confirm: 'Are you sure?' } =%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Attachment', new_ticket_attachment_path %>
