<p id="notice"><%= notice %></p>

<h1><%= @ticket.name %> > Attachments > #<%= @attachment.id%></h1>

<a href=".">Details</a>
<a href="/tickets/<%= @ticket.id =%>/attachments">Attachments (<%= @ticket.attachments.count =%>)</a>

<p>
  <strong>Created At:</strong>
  <%= @attachment.created_at %>
</p>

<strong>Description:</strong>
<div style="white-space: pre-line;">
  <%= @attachment.description %>
</div>

<%= link_to 'Edit', edit_ticket_attachment_path(@attachment) %> |
<%= link_to 'Back', ticket_attachments_path %>
