<div style="display: grid; grid-template-columns: 13% 87%; grid-column-gap: 2%;">
  <div>
    <%= render 'shared/menu' %>
  </div>
  <div>
    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= incidents_path %>"> All Incidents </a></li>
        <li>
          <a href="<%= incident_path(@ticket.incident) %>"
            ><%= @ticket.incident %></a
          >
        </li>
        <li><a href="<%= tickets_incident_path(@incident) %>"> Tickets </a></li>
        <li><a href="<%= ticket_path(@ticket) %>"><%= @ticket.name %></a></li>
        <li><a href="<%= ticket_attachments_path(@ticket) %>">Attachments</a></li>
        <li class="is-active"><a>Attachment #<%= @attachment.id %></a></li>
      </ul>
    </nav>

    <h2 class="title is-4">Attachment #<%= @attachment.id %></h2>
    <%= render 'tickets/nav' %>
    <%= render 'form', attachment: @attachment %>
  </div>
</div>