<div style="width: 60%">
  <%= form_with(model: ticket, local: true) do |form| %>
    <% if ticket.errors.any? %>
      <div class="message is-danger">
        <div class="message-header">
          <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
        </div>
        <div class="message-body">
          <ul>
          <% ticket.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="field" style="width: 75%">
      <%= form.label :name, "Name (Required)", class: "label" %>
      <%= form.text_field :name, placeholder: "Conduct live response", class: "input" %>
    </div>

    <fieldset disabled>
        <div class="field">
          <%= form.label :created_at, "Created At", class: "label" %>
          <%= form.text_field :created_at, class: "input" %>
        </div>
    </fieldset>

    <br />

    <fieldset disabled>
        <div class="field">
            <%= form.label :created_by, "Created By", class: "label" %>
            <div class="select">
                <%= collection_select :incident, :user, User.where(id: @incident.user_id), :id, :username  %>
            </div>
        </div>
    </fieldset>

    <br />

    <div class="field">
      <%= form.label :incident_id, "Incident (Required)", class: "label" %>
        <div class="select">
          <%= collection_select(:ticket, :incident_id, current_user.joined_incidents, :id, :name) %>
        </div>
    </div>

    <div class="field">
      <%= form.label :status, "Status (Required)", class: "label" %>
      <div class="select">
          <%= form.select :status, Ticket.statuses.keys.map { |w| [w.humanize, w] } %>
      </div>
    </div>

    <div class="field">
      <%= form.label :is_lead, class: "label" %>
      <%= form.check_box :is_lead %>
    </div>

    <div class="field" style="width: 50%">
      <%= form.label :tag_list, "Tag List ", class: "label" %>
        <%= form.text_field :tag_list, value: form.object.tag_list.to_s, placeholder: "apt1, ryuk", class: "input" %>
    </div>

    <div class="field">
      <%= form.label :assigned_to, "Assigned To ", class: "label" %>
      <div class="select">
          <%= collection_select :ticket, :assigned_to_id, User.all, :id, :username, { include_blank: true } %>
      </div>

    </div>

    <div class="field">
      <%= form.label :priority, "Priority ", class: "label" %>
      <div class="select">
          <%= form.select :priority, Ticket.priorities.keys.map { |w| [w.humanize, w] } %>
      </div>
    </div>

    <%# only show parent ticket dropdown in edit ticket %>
    <% if not @ticket.new_record? %>
      <div class="field">
        <%= form.label :parent_id, "Parent Ticket ", class: "label" %>
        <div class="select">
            <%= collection_select(:ticket, :parent_id, Ticket.where(incident: ticket.incident), :id, :name, {include_blank: true}) %>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :description, "Description ", class: "label" %>
      <%= form.rich_text_area :description =%>
    </div>

    <div class="actions">
      <%= form.button "Update", type: :submit, class: "button is-link" %>
    </div>
  <% end %>
</divj>
