<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :is_lead %>
    <%= form.check_box :is_lead %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, cols: 80, rows: 10 %>
  </div>

  <div class="field">
    <%= form.label :incident_id %>
    <%= collection_select(:ticket, :incident_id, Incident.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
