<div style="width: 60%">
  <%= form_with(model: ticket, local: true) do |form| %>
    <% if ticket.errors.any? %>
      <div class="message is-danger">
        <div class="message-header">
          <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
        </div>
        <div class="message-body">
          <ul>
          <% ticket.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="field" style="width: 75%">
      <%= form.label :name, "Name (Required)", class: "label" %>
      <%= form.text_field :name, placeholder: "Conduct live response", class: "input" %>
    </div>

    <fieldset disabled>
        <div class="field">
          <%= form.label :created_at, "Created At", class: "label" %>
          <%= form.text_field :created_at, class: "input" %>
        </div>
    </fieldset>

    <br />

    <fieldset disabled>
        <div class="field">
            <%= form.label :created_by, "Created By", class: "label" %>
            <div class="select">
                <%= collection_select :ticket, :user, User.where(id: @ticket.user_id), :id, :username  %>
            </div>
        </div>
    </fieldset>

    <br />

    <fieldset disabled>
        <div class="field">
          <%= form.label :incident_id, "Incident (Required)", class: "label" %>
            <div class="select">
              <%= collection_select(:ticket, :incident_id, Incident.where(id: @ticket.incident_id), :id, :name) %>
            </div>
        </div>
    </fieldset>

    <br />

    <div class="field">
      <%= form.label :status, "Status (Required)", class: "label" %>
      <div class="select">
          <%= collection_select :ticket, :status_id, Status.all, :id, :name  %>
      </div>
    </div>

    <div class="field">
      <%= form.label :priority, "Priority ", class: "label" %>
      <div class="select">
          <%= form.select :priority, Ticket.priorities.keys.map { |w| [w.humanize, w] } %>
      </div>
    </div>

    <div class="field">
      <label class="checkbox">
          <%= form.check_box :is_lead %>
          Is Lead
      </label>
    </div>

    <div class="content">
        <p>Mark tickets as leads for them to appear in <a href="<%= leads_incident_url(@incident) %>">Leads</a>. This way, you can view all the areas of an incident that require further investigation in one place.</p>
    </div>

    <div class="field" style="width: 50%">
      <%= form.label :tag_list, "Tags", class: "label" %>
        <%= form.text_field :tag_list, value: form.object.tag_list.to_s, placeholder: "apt1, ryuk", class: "tag_list" %>
    </div>

    <div class="field">
      <%= form.label :assigned_to, "Assigned To ", class: "label" %>
      <div class="select">
          <%= collection_select :ticket, :assigned_to_id, ticket.incident.members, :id, :username, { include_blank: true } %>
      </div>
    </div>

    <div class="field">
      <%= form.label :parent_id, "Parent Ticket ", class: "label" %>
      <div class="select">
          <%= collection_select(:ticket, :parent_id, Ticket.where(incident: ticket.incident), :id, :name, {include_blank: true}) %>
      </div>
    </div>

    <div class="field">
      <%= form.label :description, "Description ", class: "label" %>
      <%= form.text_area :description, class: "textarea description", placeholder: "Type description here..." =%>
    </div>

    <div class="actions">
      <%= form.button "Update", type: :submit, class: "button is-link" %>
    </div>
  <% end %>
</div>

<script>
// initialize tag inputs
$(".tag_list").selectize({
    delimiter: ",",
    persist: false,
    create: true
});

users = <%= raw User.pluck(:username).compact.to_json %>;
$('.description').atwho({at:"@", 'data': users});
</script>