<div class="tabs">
    <ul>
        <li><a href="<%= ticket_path(@ticket) %>"> Details </a></li>
        <li><a href="<%= ticket_observables_path(@ticket) %>"> Observables (<%= @ticket.observables.count %>) </a></li>
        <li><a href="<%= ticket_attachments_path(@ticket) %>">Attachments (<%= @ticket.attachments.count =%>)</a></li>
        <li><a href="<%= children_ticket_path(@ticket) %>"> Child Tickets (<%= @ticket.children.count %>) </a></li>
        <li><a href="<%= ticket_comments_path(@ticket) %>"> Comments (<%= @ticket.comments.count %>) </a></li>
        <li><a href="<%= tree_ticket_path(@ticket) %>"> Tree </a></li>
    </ul>
</div>
