<div
  style="display: grid; grid-template-columns: 13% 87%; grid-column-gap: 2%;"
>
  <div>
    <%= render 'shared/menu' %>
  </div>
  <div>
    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= incidents_path %>"> All Incidents </a></li>
        <li>
          <a href="<%= incident_path(@ticket.incident) %>"><%= @ticket.incident %></a>
        </li>
        <li><a href="<%= tickets_incident_path(@incident) %>"> Tickets </a></li>
        <li><a href="<%= ticket_path(@ticket) %>"><%= @ticket.name %></a></li>
        <li class="is-active"><a>Child Tickets</a></li>
      </ul>
    </nav>

    <h2 class="title is-4">Child Tickets</h2>

    <%= render 'nav' %> <% if @ticket.children.empty? %> No child tickets
    <br /><br />
    To create a child ticket, create a new ticket, edit it, and set its parent
    ticket to <b><%= @ticket.name %></b>.
    <br />
    <% else %>
    <table class="ticket-children-table hover stripe">
      <thead>
        <tr>
          <th>Name</th>
          <th>Incident</th>
          <th>Status</th>
          <th>Priority</th>
          <th>Is Lead?</th>
          <th>Created At</th>
          <th>Show</th>
          <th>Tree</th>
          <th>Destroy</th>
        </tr>
      </thead>

      <tbody>
        <% @ticket.children.each do |ticket| %>
        <tr style="background-color: black">
          <td><%= ticket.name %></td>
          <td><%= ticket.incident %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.priority %></td>
          <td><%= ticket.is_lead %></td>
          <td><%= ticket.created_at %></td>
          <td><%= link_to 'Show', ticket %></td>
          <td><%= link_to 'Tree', tree_ticket_path(ticket) %></td>
          <td>
            <%= link_to 'Destroy', ticket, method: :delete, data: { confirm:
            'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".ticket-children-table").DataTable({
      "pagingType": "simple_numbers",
      "language": { search: "" },
    });

    // style datatable search inputs
    $(".dataTables_filter input").addClass("input");
    $(".dataTables_filter input").attr("placeholder", "Search");
  });
</script>