<h2 class="title is-4">All Tickets</h2>

<% if @tickets.empty? %>
  No tickets
  <br />
<% else %>
<table class="table is-narrow is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Incident</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Is Lead?</th>
      <th>Created At</th>
      <th>Created By</th>
      <th>Parent Ticket</th>
      <th>Child Tickets</th>
      <th>Attachments</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= ticket.incident %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.is_lead %></td>
        <td><%= ticket.created_at %></td>
        <td><%= ticket.user %></td>
        <td>
        <% if ticket.parent == nil %>
            N/A
        <% else %>
            <%= link_to ticket.parent.name, ticket.parent =%>
        <% end %>
        </td>
        <td><%= ticket.children.count %></td>
        <td><%= ticket.attachments.count %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Tree', tree_ticket_path(ticket) %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
