<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Is Lead:</strong>
  <%= @ticket.is_lead %>
</p>

<div>
  <strong>Description:</strong>
  <%= @ticket.description %>
</div>

<p>
  <strong>Incident:</strong>
  <%= @ticket.incident %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
