<div style="display: grid; grid-template-columns: 13% 87%; grid-column-gap: 2%;">
    <div>
        <%= render 'shared/menu' %>
    </div>
    <div>
        <nav class="breadcrumb">
        <ul>
            <li><a href="<%= incidents_path %>"> All Incidents </a></li>
            <li><a href="<%= incident_path(@ticket.incident) %>"><%= @ticket.incident %></a></li>
            <li><a href="<%= tickets_incident_path(@incident) %>"> Tickets </a></li>
            <li><a href="<%= ticket_path(@ticket) %>"><%= @ticket.name %></a></li>
            <li class="is-active"><a>Details</a></li>
        </ul>
        </nav>

        <h2 class="title is-4">Details</h2>
        <%= render 'nav' %>

        <div class="content">
            <p>
                <strong>Created At:</strong> 
                <%= @ticket.created_at %>
            </p>

            <p>
                <strong>Created By:</strong> 
                <%= @ticket.user %>
            </p>

            <p>
            <strong>Assigned To:</strong> 
                <% if @ticket.assigned_to.nil? %>
                    N/A
                <% else %>
                    <%= @ticket.assigned_to %>
                <% end %>
            </p>

            <p>
                <strong>Is Lead:</strong>
                <%= @ticket.is_lead %>
            </p>

            <p>
                <strong>Parent Ticket:</strong>
                <% if @ticket.parent == nil %>
                    <td>N/A</td>
                <% else %>
                    <td><%= link_to @ticket.parent.name, @ticket.parent =%></td>
                <% end %>
            </p>

            <p>
                <strong>Tags</strong>
                <% if @ticket.tag_list.count == 0%>
                    N/A
                <% else %>
                    <%= @ticket.tag_list %>
                <% end %>
            </p>

            <p>
                <strong>Status:</strong>
                <%= @ticket.status %>
            </p>

                <strong>Priority:</strong>
                <%= @ticket.priority %>
            </p>

            <div>
                <strong>Description:</strong>
                <% if @ticket.description.empty? %>
                    N/A
                    <br /><br />
                <% else %>
                    <div style="white-space: pre-line;">
                    <%= @ticket.description %>
                    </div>
                <% end %>
            </div>

            <p>
                <strong>Incident:</strong>
                <a href="<%= incident_path(@ticket.incident) %>"><%= @ticket.incident.name %></a>
            </p>
        </div>

        <%= link_to 'Edit', edit_ticket_path(@ticket) %>
    </divfloat:>
</div>