<nav class="breadcrumb">
  <ul>
    <li><a href="<%= incidents_path %>"> All Incidents </a></li>
    <li><a href="<%= incident_path(@ticket.incident) %>"><%= @ticket.incident %></a></li>
    <li><a href="<%= ticket_path(@ticket) %>"><%= @ticket.name %></a></li>
    <li class="is-active"><a>Details</a></li>
  </ul>
</nav>

<h2 class="title is-4">Details</h2>

<%= render 'nav' %>

<p>
    <strong>Created At:</strong> 
    <%= @ticket.created_at %>
</p>

<p>
    <strong>Created By:</strong> 
    <%= @ticket.user %>
</p>

<p>
<strong>Assigned To:</strong> 
    <% if @ticket.assigned_to.nil? %>
        N/A
    <% else %>
        <%= @ticket.assigned_to %>
    <% end %>
</p>

<p>
    <strong>Is Lead:</strong>
    <%= @ticket.is_lead %>
</p>

<p>
    <strong>Parent Ticket:</strong>
    <% if @ticket.parent == nil %>
        <td>N/A</td>
    <% else %>
        <td><%= link_to @ticket.parent.name, @ticket.parent =%></td>
    <% end %>
</p>

<p>
    <strong>Tags</strong>
    <%= @ticket.tag_list %>
</p>

<p>
    <strong>Status:</strong>
    <%= @ticket.status %>
</p>

    <strong>Priority:</strong>
    <%= @ticket.priority %>
</p>

<div>
    <strong>Description:</strong>
    <div style="white-space: pre-line;">
      <%= @ticket.description %>
    </div>
</div>

<p>
    <strong>Incident:</strong>
    <a href="<%= incident_path(@ticket.incident) %>"><%= @ticket.incident.name %></a>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %>
