<html>
  <head>
    <%= include_gon(:init => true) %>
  </head>

  <body>
    <%# render breadcrumb %>
    <div
      style="display: grid; grid-template-columns: 13% 87%; grid-column-gap: 2%;"
    >
      <div>
        <%= render 'shared/menu' %>
      </div>
      <div>
        <nav class="breadcrumb">
          <ul>
            <li><a href="<%= incidents_path %>"> All Incidents </a></li>
            <li>
              <a href="<%= incident_path(@ticket.incident) %>"><%= @ticket.incident %></a>
            </li>
            <li><a href="<%= tickets_incident_path(@incident) %>"> Tickets </a></li>
            <li>
              <a href="<%= ticket_path(@ticket) %>"><%= @ticket.name %></a>
            </li>
            <li class="is-active"><a>Tree</a></li>
          </ul>
        </nav>
        <%# render title and nav %>
        <%= render 'tickets/title', title: 'Tree', ticket: @ticket %>
        <%= render 'nav' %>
        <p>Red nodes indicate open tickets, yellow nodes in progress tickets, and green nodes closed tickets.</p>
        <br>
        <p>Currently, you cannot drag/drop nodes on this tree, only on this incident's tree. This will change.</p>
        <br>
        <a href="<%= tree_incident_path(@ticket.incident) %>">See this incident's tree</a>
        <div id="tree"></div>
      </div>
    </div>
  </body>

  <script>
    config = {
      chart: {
        container: "#tree"
      },
      nodeStructure: gon.ticket_tree_as_json
    };

    var my_chart = new Treant(config);
  </script>

  <style>
    .node {
      padding: 8px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #121212;
      border: 1px solid gray;
      font-size: 15px;
      text-align: center;
    }

    .open {
        background-color: #FF5454;
        color: white;
    }
    
    .in_progress {
        background-color: khaki;
        color: black;
    }

    .closed {
        background-color: limegreen; 
        color: white;
    }
  </style>
</html>
