<nav class="breadcrumb">
    <ul>
        <li><a href="<%= ticket_templates_path %>"> Ticket Templates </a></li>
        <li><a href="<%= edit_ticket_template_path(@ticket_template.root) %>"><%= @ticket_template.root %></a></li>
        <li><a href="<%= tree_ticket_template_path(@ticket_template.root) %>"> Tree </a></li>
        <li class="is-active"><a><%= @ticket_template %></a></li>
    </ul>
</nav>

<div>
    <span style="display: inline-block">
        <h2 class="title is-4"><%= @ticket_template.name %></h2>
    </span>
    <span style="float: right">
        <%= link_to 'Destroy Ticket', @ticket_template, method: :delete, data: { confirm: 'Are you sure you want to remove this ticket from the template?' }, class: "button is-danger" %>
    </span>
</div>

<br>

<%= render 'form', ticket_template: @ticket_template %>
