<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket_template.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket_template.description %>
</p>

<%= link_to 'Edit', edit_ticket_template_path(@ticket_template) %> |
<%= link_to 'Back', ticket_templates_path %>
