<!DOCTYPE html>
<html>
    <head>
        <title>Incidents</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <%= javascript_pack_tag 'application' %>
    </head>

    <body>
        <%= render 'shared/top_nav' %> 
        <div style="margin-left: 3%; margin-right: 3%; margin-top: 2%; margin-bottom: 2%;">
            <% if notice %>
                <article class="message is-success">
                    <div class="message-body">
                        <%= notice %>
                    </div>
                </article>
            <% end %>
            <% if alert and not alert.empty? %>
                <article class="message is-info">
                    <div class="message-body">
                        <%= alert %>
                    </div>
                </article>
            <% end %>
            <%= yield %>
        </div>
    </body>
</html>
