<!DOCTYPE html>
<html>
    <head>
        <title>Incidents</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <% if user_signed_in? %>
            <nav class="navbar is-link">
            <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="<%= incidents_path %>">
                            All Incidents
                        </a>
                        <a class="navbar-item" href="<%= tickets_path %>">
                            All Tickets
                        </a>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <%= current_user.username %>
                            </a>

                            <div class="navbar-dropdown">
                                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %> 
                                <hr class="navbar-divider">
                                <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'navbar-item'  %>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        <% end %>

        <% if notice %>
            <article class="message is-success">
                <div class="message-body">
                    <%= notice %>
                </div>
            </article>
        <% end %>


        <div style="margin-left: 3%; margin-right: 3%; margin-top: 2%; margin-bottom: 2%;">
            <%= yield %>
        </div>

    </body>
</html>
