<!DOCTYPE html>
<html>
    <head>
        <title>Incidents</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render 'shared/top_nav' %> 
        <div style="margin-left: 3%; margin-right: 3%; margin-top: 2%; margin-bottom: 2%;">
            <% if notice %>
                <article class="message is-success">
                    <div class="message-body">
                        <%= notice %>
                    </div>
                </article>
            <% end %>
            <%= yield %>
        </div>
    </body>
</html>
