<!DOCTYPE html>
<html>
    <head>
        <title>Incidents</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <nav class="navbar is-primary">
          <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="<%= incidents_path %>">
                        All Incidents
                    </a>
                    <a class="navbar-item" href="<%= tickets_path %>">
                        All Tickets
                    </a>
                </div>
                <% if user_signed_in? %>
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <%= current_user.username %>
                            </a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                    Edit Profile
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item">
                                    Log out
                                </a>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </nav>

        <% if notice %>
            <article class="message is-success">
                <div class="message-body">
                    <%= notice %>
                </div>
            </article>
        <% end %>


        <div style="margin-left: 3%; margin-right: 3%; margin-top: 2%; margin-bottom: 2%;">
            <%= yield %>
        </div>

    </body>
</html>
